Repository IslamAlam/pydeepsar: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-spelling-dicts, mypy, generate_requirements.py, black, isort, bandit, pydocstyle, vulture, mccabe

Path conditions:
  sort-spelling-dicts: any of: spelling_dict.txt
  mypy: any of: \.py$
  generate_requirements.py: any of: "pyproject.toml|
requirements/.*\\.txt|
tools/generate_requirements.py"

  black: any of: \.py$
  isort: any of: \.py$
  bandit: any of: \.py$
  pydocstyle: any of: pydeepsar and \.py$
  vulture: any of: pydeepsar and \.py$
  mccabe: any of: pydeepsar and \.py$

feat(tf-coherence): add 'coherence' option
  Makefile
Due: none

update token
  .github/workflows/release.yaml
Due: none

fix(release): fix token issue for release
  .github/workflows/release.yaml
Due: none

fix(release): token
  .github/workflows/release.yaml
Due: none

fix: build release
  .makim.yaml
Due: none

ufix(release): build and token
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .gitignore
  .makim.yaml
  .markdownlint.json
  .pre-commit-config.yaml
  .releaserc.json
  CODE_OF_CONDUCT.md
  Makefile
  README.md
  conda/dev.yaml
  containers/compose.yaml
  docs/readme.md
  docs/source/api/references.rst
  docs/source/changelog.md
  docs/source/conf.py
  docs/source/contributing.md
  docs/source/example.ipynb
  docs/source/images/favicon.ico
  docs/source/images/logo.png
  docs/source/index.rst
  docs/source/installation.md
  docs/source/readme.md
  governance.md
  pydeepsar/__init__.py
  pydeepsar/__main__.py
  pydeepsar/coherence.py
  pyproject.toml
  tests/pydeepsar_test.py
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

ufix gh-pages
  .github/workflows/release.yaml
  .makim.yaml
Due: none

feat(release): build
  .github/dependabot.yml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  .releaserc.json
Due: none

chore(release): 1.0.0
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  825ef9ff3009266a0c8b94601844b0ceb36eea82
Due: none

fix(release): build
  .github/workflows/release.yaml
Due: none

chore(release): 1.0.1
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  7967ed8272ceecd67afed123be68723ab7ad91f3
Due: none

deploy: 8e20c1e6ad8bd5af8542926f3412c23ba268ab2a
  .buildinfo
  .doctrees/environment.pickle
  _static/documentation_options.js
  api/references.html
  changelog.html
  contributing.html
  example.html
  genindex.html
  index.html
  installation.html
  objects.inv
  py-modindex.html
  readme.html
  search.html
Due: none

fix(add-coherence): build
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  conda/dev.yaml
  docs/source/conf.py
  docs/source/index.rst
  pydeepsar/cli.py
  pydeepsar/coherence_model.py
  pyproject.toml
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

fix(add-(makim): build
  .makim.yaml
Due: none

chore(release): 1.0.2
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  67b64e436b4464cb749b7eb53f4ed94a440c12dc
Due: none

fix(model): build
  pydeepsar/coherence_model.py
  pyproject.toml
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

fix(add-coherence-model): build
  pydeepsar/io/__init__.py
  pydeepsar/io/xr.py
  pydeepsar/models/__init__.py
  pydeepsar/models/coherene.py
  pydeepsar/models/layers.py
  pydeepsar/util/__init__.py
  pydeepsar/util/callback.py
  pydeepsar/util/plot.py
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

fix(add-coherence-test): build
  docs/source/api/references.rst
  pydeepsar/models/coherene.py
  tests/models_test.py
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

fix(fix-test): build
  tests/models_test.py
  tests/pydeepsar_test.py
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

chore(release): 1.0.3
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  c4cf468e77351e1e6a1e639f4ea64a0507d02d51
Due: none

fix(doc)
  docs/source/changelog.md
  docs/source/installation.md
Due: none

Create .readthedocs.yaml
  .readthedocs.yaml
Due: none

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

fix(layers)
  pydeepsar/models/layers.py
  pydeepsar/util/callback.py
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

update models for coherence
  pydeepsar/models/coherene.py
  pydeepsar/models/layers.py
  pydeepsar/util/callback.py
  pydeepsar/util/plot.py
  pyproject.toml
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

update changes with new layers
  .readthedocs.yaml
  Makefile
  pydeepsar/io/addband2geo.py
  pydeepsar/io/taxigeocoding.py
  pydeepsar/io/xr.py
  pydeepsar/models/coherene.py
  pydeepsar/models/inference.py
  pydeepsar/util/callback.py
  scripts/inference.sh
Due: mypy, black, isort, bandit, pydocstyle, vulture, mccabe

Create convert_ras.py
  scripts/convert_ras.py
Due: mypy, black, isort, bandit

Update README.md
  README.md
Due: none
